In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('./Yes_Bank_Training.csv')

In [ ]:
label = data["outcome"]
label.to_csv(path='./labels.csv', index=False)

In [ ]:
data.describe()

In [ ]:
data.head()

In [ ]:
categorical_data = data[["job_description", "marital_status", "education_details", "has_default", "housing_status", "previous_loan", "phone_type", "date"]]
numerical_data = data.drop(["job_description", "marital_status", "education_details", "has_default", "housing_status", "previous_loan", "phone_type", "month_of_year", "date", "poutcome_of_campaign","outcome", "days_passed", "previous_contact"], axis =1)

In [ ]:
numerical_data.head()

In [ ]:
categorical_data.head()

## Outlier removal

In [ ]:
main_data = numerical_data.copy(deep=True)

#### age_in_years

In [ ]:
[i for i in zip(*np.unique(main_data["age_in_years"], return_counts = True))]

In [ ]:
mean, std = np.mean(main_data["age_in_years"]), np.std(main_data["age_in_years"])

In [ ]:
min_val , max_val = int(mean- 2 * std), int(mean + 2 *std)

In [ ]:
min_val, max_val, mean

In [ ]:
np.random.randint(min_val, max_val)

In [ ]:
def age_in_years(val):
    if val < 21 or val > 60:
        return np.random.randint(21, 60)
    else:
        return val

In [ ]:
main_data["age_in_years"] = main_data["age_in_years"].apply(age_in_years)

In [ ]:
main_data.head()

In [ ]:
[i for i in zip(*np.unique(main_data["age_in_years"], return_counts = True))]

#### balance_in_account

In [ ]:
mean, std = main_data["balance_in_account"].mean(), main_data["balance_in_account"].std()

In [ ]:
mean, std

In [ ]:
min_val, max_val = mean - 2 * std, mean + 2 * std

In [ ]:
int(min_val), int(max_val)

In [ ]:
def balance_in_account(val):
    if val < -4628 or val > 7215:
        if val <= -4628:
            return int(-4628)
        else:
            return int(7215)
    else:
        return val

In [ ]:
main_data["balance_in_account"] = main_data["balance_in_account"].apply(balance_in_account)

In [ ]:
main_data["balance_in_account"].values

In [ ]:
main_data["balance_in_account"].mean(), main_data["balance_in_account"].std()

In [ ]:
main_data.head()

#### campaign_contacts

In [ ]:
[i for i in zip(*np.unique(main_data["campaign_contacts"], return_counts = True))]

In [ ]:
mean, std = main_data["campaign_contacts"].mean(), main_data["campaign_contacts"].std()

In [ ]:
min_val, max_val = 0 , int(mean + 2 * std)

In [ ]:
min_val, max_val

In [ ]:
def campaign_contacts(val):
    if val < 0 or val > 10:
        if val <= 0:
            return int(0)
        else:
            return int(10)
    else:
        return val

In [ ]:
main_data["campaign_contacts"] = main_data["campaign_contacts"].apply(campaign_contacts)

In [ ]:
[i for i in zip(*np.unique(main_data["campaign_contacts"], return_counts = True))]

#### days_passed

### DROP THIS SHIT!

In [ ]:
main_data.head()

#### previous_contact

### DROP THIS SHIT AS WELL!

In [ ]:
main_data.head()

#### call_duration

In [ ]:
main_data["call_duration"] = main_data["call_duration"]//60 ## in mins

In [ ]:
[i for i in zip(*np.unique(main_data["call_duration"], return_counts = True))]

In [ ]:
mean, std = main_data["call_duration"].mean(), main_data["call_duration"].std()

In [ ]:
min_val, max_val = 0 , int(mean + 2 * std)

In [ ]:
min_val, max_val

In [ ]:
np.sum(np.unique(main_data[main_data["call_duration"] > 12]["call_duration"], return_counts = True)[1])

In [ ]:
def call_duration(val):
    if val > 12:
        return 12
    else:
        return val

In [ ]:
main_data["call_duration"] = main_data["call_duration"].apply(call_duration)

In [ ]:
[i for i in zip(*np.unique(main_data["call_duration"], return_counts = True))]

In [ ]:
main_data.head()

In [ ]:
main_data.to_csv(path_or_buf='./preprocessed_numerical.csv', index=False)

In [ ]:
numerical_data = pd.read_csv('./preprocessed_numerical.csv')

In [ ]:
numerical_data.head()

# CATEGORICAL

In [ ]:
main_data = categorical_data.copy(deep=True)

#### job_description

In [ ]:
main_data.head()

In [ ]:
[i for i in zip(*np.unique(main_data["job_description"], return_counts = True))]

In [ ]:
jobs = np.unique(main_data["job_description"])
error = {}
for job in jobs:
    unknown_data, known_data = numerical_data[main_data["job_description"] == "unknown"][["age_in_years","balance_in_account"]], numerical_data[main_data["job_description"] == job][["age_in_years","balance_in_account"]]
    unknown_mean, known_mean = unknown_data.mean(axis=0), known_data.mean(axis=0)
    error[job] = np.mean(np.square(unknown_mean.values - known_mean.values))

In [ ]:
sorted(error.items(), key=lambda x: x[1])

In [ ]:
## thus we will change unknown with management

In [ ]:
def job_description(val):
    if val == "unknown":
        return "management"
    else:
        return val

In [ ]:
main_data["job_description"] = main_data["job_description"].apply(job_description)

In [ ]:
[i for i in zip(*np.unique(main_data["job_description"], return_counts = True))]

In [ ]:
main_data.head()

#### education_details

In [ ]:
[i for i in zip(*np.unique(main_data["education_details"], return_counts = True))]

In [ ]:
edus = np.unique(main_data["education_details"])
error = {}
for edu in edus:
    unknown_data, known_data = numerical_data[main_data["education_details"] == "unknown"][["age_in_years","balance_in_account"]], numerical_data[main_data["education_details"] == edu][["age_in_years","balance_in_account"]]
    unknown_mean, known_mean = unknown_data.mean(axis=0), known_data.mean(axis=0)
    error[edu] = np.mean(np.square(unknown_mean.values - known_mean.values))

sorted(error.items(), key=lambda x: x[1])

In [ ]:
## so we change unknown to tertiary

In [ ]:
def education_details(val):
    if val == "unknown":
        return "tertiary"
    else:
        return val

In [ ]:
main_data["education_details"] = main_data["education_details"].apply(education_details)

In [ ]:
main_data.head()

In [ ]:
[i for i in zip(*np.unique(main_data["education_details"], return_counts = True))]

#### phone_type

In [ ]:
[i for i in zip(*np.unique(main_data["phone_type"], return_counts = True))]

In [ ]:
phones = np.unique(main_data["phone_type"])
error = {}
for phone in phones:
    unknown_data, known_data = numerical_data[main_data["phone_type"] == "unknown"]["call_duration"], numerical_data[main_data["phone_type"] == phone]["call_duration"]
    unknown_mean, known_mean = unknown_data.mean(axis=0), known_data.mean(axis=0)
    error[phone] = np.mean(np.sqrt(np.square(unknown_mean - known_mean)))

sorted(error.items(), key=lambda x: x[1])

In [ ]:
## hence it will be changed to cellular

In [ ]:
def phone_type(val):
    if val == "unknown":
        return 'cellular'
    else:
        return val

In [ ]:
main_data["phone_type"] = main_data["phone_type"].apply(phone_type)

In [ ]:
[i for i in zip(*np.unique(main_data["phone_type"], return_counts = True))]

In [ ]:
main_data.head()

#### month_of_year

### DROP THIS SHIT

#### date

In [ ]:
[i for i in zip(*np.unique(main_data["date"], return_counts = True))]

In [ ]:
main_data["date"].describe()

In [ ]:
q1, q2, q3 = 9, 18, 23

In [ ]:
def date(val):
    if val < 9:
        return "start"
    elif val < 18:
        return "mid-1"
    elif val< 23:
        return "mid-2"
    else:
        return "end"

In [ ]:
main_data["date"] = main_data["date"].apply(date)

In [ ]:
[i for i in zip(*np.unique(main_data["date"], return_counts = True))]

In [ ]:
main_data.head()

In [ ]:
main_data.to_csv(path_or_buf='./preprocessed_categorical.csv', index=False)

# TEST DATA

In [623]:
test_data = pd.read_csv('./Yes_Bank_Test.csv')

In [625]:
categorical_data = test_data[["job_description", "marital_status", "education_details", "has_default", "housing_status", "previous_loan", "phone_type", "date"]]
numerical_data = test_data.drop(["job_description", "marital_status", "education_details", "has_default", "housing_status", "previous_loan", "phone_type", "month_of_year", "date", "poutcome_of_campaign", "days_passed", "previous_contact"], axis =1)

### Numerical

In [626]:
main_data = numerical_data.copy(deep=True)

In [627]:
main_data["age_in_years"] = main_data["age_in_years"].apply(age_in_years)
main_data["balance_in_account"] = main_data["balance_in_account"].apply(balance_in_account)
main_data["campaign_contacts"] = main_data["campaign_contacts"].apply(campaign_contacts)
main_data["call_duration"] = main_data["call_duration"]//60 ## in mins
main_data["call_duration"] = main_data["call_duration"].apply(call_duration)

In [628]:
main_data.head()

,serial_number,age_in_years,balance_in_account,call_duration,campaign_contacts
0,1,33,796,3,1
1,2,40,754,10,1
2,3,30,7215,12,2
3,4,44,545,2,3
4,5,35,5553,6,3

In [629]:
main_data.to_csv(path_or_buf='./preprocessed_numerical_test.csv', index=False)

### Catergorical

In [630]:
main_data = categorical_data.copy(deep=True)

In [631]:
main_data["job_description"] = main_data["job_description"].apply(job_description)
main_data["education_details"] = main_data["education_details"].apply(education_details)
main_data["phone_type"] = main_data["phone_type"].apply(phone_type)
main_data["date"] = main_data["date"].apply(date)

In [632]:
main_data.head()

,job_description,marital_status,education_details,has_default,housing_status,previous_loan,phone_type,date
0,admin.,married,secondary,no,yes,no,telephone,start
1,management,married,secondary,no,no,yes,cellular,start
2,technician,single,secondary,no,yes,no,cellular,start
3,blue-collar,married,secondary,no,yes,no,cellular,start
4,technician,married,secondary,no,yes,no,cellular,start

In [633]:
main_data.to_csv(path_or_buf='./preprocessed_categorical_test.csv', index=False)

In [634]:
for col in main_data.columns:
    print([i for i in zip(*np.unique(main_data[col], return_counts = True))])

[('admin.', 1817), ('blue-collar', 2784), ('entrepreneur', 327), ('housemaid', 271), ('management', 2820), ('retired', 1032), ('self-employed', 415), ('services', 1189), ('student', 641), ('technician', 1913), ('unemployed', 353)]
[('divorced', 1408), ('married', 7430), ('single', 4724)]
[('primary', 1874), ('secondary', 6899), ('tertiary', 4789)]
[('no', 13471), ('yes', 91)]
[('no', 5662), ('yes', 7900)]
[('no', 12120), ('yes', 1442)]
[('cellular', 12359), ('telephone', 1203)]
[('end', 1854), ('mid-1', 5831), ('mid-2', 1989), ('start', 3888)]

## END