In [465]:
import pandas as pd
import numpy as np

In [466]:
data = pd.read_csv('./Yes_Bank_Training.csv')

In [424]:
data = pd.read_csv('./Yes_Bank_Test.csv')

In [389]:
test_data.head()

,serial_number,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign
0,1,33,admin.,married,secondary,no,796,yes,no,telephone,6,apr,216,1,-1,0,unknown
1,2,40,management,married,secondary,no,754,no,yes,cellular,6,apr,635,1,-1,0,unknown
2,3,30,technician,single,secondary,no,10152,yes,no,cellular,6,apr,1108,2,270,1,failure
3,4,44,blue-collar,married,secondary,no,545,yes,no,cellular,6,apr,122,3,136,1,failure
4,5,35,technician,married,secondary,no,5553,yes,no,cellular,6,apr,371,3,136,7,failure

In [464]:
np.unique(test_data['date'].values, return_counts=True)

(array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
       dtype=int64),
 array([232, 299, 252, 483, 548, 579, 781, 714, 273, 160, 673, 806, 890,
        856, 974, 480, 719, 764, 107, 722, 146, 250, 146, 110, 237, 266,
        246, 217, 156, 424,  52], dtype=int64))

In [410]:
month = {"jan":1, "feb":2, "mar":3, "apr":4, "may":5, "jun":6, "jul":7, "aug":8, "sep":9, "oct":10, "nov":11, "dec":12}

def my_func(mnt):
    return month[mnt]

In [411]:
data.head()

,serial_number,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign,outcome
0,1,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,2,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,3,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,4,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,5,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [412]:
from sklearn.preprocessing import LabelEncoder

In [467]:
le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()
le4 = LabelEncoder()
le5 = LabelEncoder()
le6 = LabelEncoder()
le7 = LabelEncoder()
le8 = LabelEncoder()
le9 = LabelEncoder()
data['job_description'] = le1.fit_transform(data['job_description'])
data['marital_status'] = le2.fit_transform(data['marital_status'])
data['education_details'] = le3.fit_transform(data['education_details'])
data['has_default'] = le4.fit_transform(data['has_default'])
data['housing_status'] = le5.fit_transform(data['housing_status'])
data['previous_loan'] = le6.fit_transform(data['previous_loan'])
data['phone_type'] = le7.fit_transform(data['phone_type'])
data['poutcome_of_campaign'] = le8.fit_transform(data['poutcome_of_campaign'])
data['outcome'] = le9.fit_transform(data['outcome'])
data['month_of_year'] = data['month_of_year'].apply(my_func)

In [425]:
data['job_description'] = le1.transform(data['job_description'])
data['marital_status'] = le2.transform(data['marital_status'])
data['education_details'] = le3.transform(data['education_details'])
data['has_default'] = le4.transform(data['has_default'])
data['housing_status'] = le5.transform(data['housing_status'])
data['previous_loan'] = le6.transform(data['previous_loan'])
data['phone_type'] = le7.transform(data['phone_type'])
data['poutcome_of_campaign'] = le8.transform(data['poutcome_of_campaign'])
data['month_of_year'] = data['month_of_year'].apply(my_func)

In [414]:
np.unique(data['poutcome_of_campaign'].values)

array([0, 1, 2, 3])

In [468]:
data.head()

,serial_number,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign,outcome
0,1,58,4,1,2,0,2143,1,0,2,5,5,261,1,-1,0,3,0
1,2,44,9,2,1,0,29,1,0,2,5,5,151,1,-1,0,3,0
2,3,33,2,1,1,0,2,1,1,2,5,5,76,1,-1,0,3,0
3,4,47,1,1,3,0,1506,1,0,2,5,5,92,1,-1,0,3,0
4,5,33,11,2,3,0,1,0,0,2,5,5,198,1,-1,0,3,0

In [416]:
data.columns

Index(['serial_number', 'age_in_years', 'job_description', 'marital_status',
       'education_details', 'has_default', 'balance_in_account',
       'housing_status', 'previous_loan', 'phone_type', 'date',
       'month_of_year', 'call_duration', 'campaign_contacts', 'days_passed',
       'previous_contact', 'poutcome_of_campaign', 'outcome'],
      dtype='object')

In [461]:
data.values.shape

(31649, 18)

In [469]:
x_data, y_data = data.drop(axis=0, columns=['outcome', 'serial_number','date', 'days_passed', 'balance_in_account', 'age_in_years', 'call_duration']), data['outcome']

In [470]:
x_data.head()

,job_description,marital_status,education_details,has_default,housing_status,previous_loan,phone_type,month_of_year,campaign_contacts,previous_contact,poutcome_of_campaign
0,4,1,2,0,1,0,2,5,1,0,3
1,9,2,1,0,1,0,2,5,1,0,3
2,2,1,1,0,1,1,2,5,1,0,3
3,1,1,3,0,1,0,2,5,1,0,3
4,11,2,3,0,0,0,2,5,1,0,3

In [426]:
x_data = data.drop(axis=0, columns=['serial_number'])

In [452]:
x_data.values.shape

(31649, 15)

In [453]:
y_data.head()

0    0
1    0
2    0
3    0
4    0
Name: outcome, dtype: int32

In [454]:
from sklearn.model_selection import StratifiedShuffleSplit

sss = StratifiedShuffleSplit(test_size=0.1)
for train_ix, test_ix in sss.split(X=x_data.values, y=y_data.values):
    x_train, y_train = x_data.values[train_ix], y_data.values[train_ix]
    x_val, y_val = x_data.values[test_ix], y_data.values[test_ix]

In [455]:
x_train.shape, x_val.shape

((28484, 15), (3165, 15))

from sklearn.svm import SVC

classifier = SVC(kernel="rbf", gamma=5, C=0.001)

In [187]:
from sklearn.ensemble import RandomForestClassifier

from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(max_depth=100)

bag_classifier = BaggingClassifier(tree, n_estimators = 100, max_samples=300, bootstrap=True, n_jobs=-1, bootstrap_features=True, max_features=3)

bag_classifier.fit(X=x_train, y=y_train)
bag_classifier.score(X=x_val, y=y_val)

np.unique(bag_classifier.predict(X=x_data.values), return_counts=True)

In [402]:
RandomForestClassifier?

In [456]:
rnd_forest = RandomForestClassifier(n_estimators=500 ,max_depth=100, n_jobs=-1)
rnd_forest.fit(X=x_train, y=y_train)
rnd_forest.score(X=x_val, y=y_val)

0.9488151658767773

In [428]:
np.unique(rnd_forest.predict(X=x_data.values), return_counts=True)

(array([0, 1]), array([13122,   440], dtype=int64))

In [200]:
np.unique(y_test, return_counts=True)

(array([0, 1]), array([5366,  331], dtype=int64))

In [199]:
np.unique(rnd_forest.predict(X=x_test), return_counts=True)

(array([0, 1]), array([5539,  158], dtype=int64))

In [196]:
RandomForestClassifier?

In [165]:
bag_classifier.fit(X=xx_train, y=yy_train)

BaggingClassifier(base_estimator=SVC(C=0.001, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=5, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=100, n_estimators=100, n_jobs=-1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [166]:
bag_classifier.score(X=x_test, y=y_test)

0.5202312138728323

In [161]:
classifier.fit(X=xx_train, y=yy_train)

SVC(C=0.001, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=5, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [162]:
classifier.score(X=x_test, y=y_test)

0.5202312138728323

In [99]:
y_pred = classifier.predict(X=x_test)

In [268]:
positive_x, negative_x = data.loc[data['outcome'] == 0], data.loc[data['outcome'] == 1]

In [269]:
positive_x.values.shape, negative_x.values.shape

((29809, 18), (1840, 18))

In [273]:
x_data = pd.concat([positive_x.iloc[:2000], negative_x])

In [274]:
np.unique(x_data['outcome'], return_counts=True)

(array([0, 1]), array([2000, 1840], dtype=int64))

In [275]:
np.unique(y_data.values, return_counts=True)

(array([0, 1]), array([29809,  1840], dtype=int64))

In [429]:
y = rnd_forest.predict(X=x_data.values)

In [432]:
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.matshow(confusion_matrix)

In [296]:
y.shape

(13562,)

In [437]:
np.unique(z, return_counts = True)

(array(['no', 'yes'], dtype=object), array([13122,   440], dtype=int64))

In [434]:
z = le9.inverse_transform(y)

In [435]:
np.unique(z)

array(['no', 'yes'], dtype=object)

In [438]:
df = pd.DataFrame(z, columns=['outcome'])

In [439]:
df.head()

  outcome
0      no
1      no
2      no
3      no
4      no

In [440]:
df.dtypes

outcome    object
dtype: object

In [441]:
df1 = pd.DataFrame([i for i in range(1,len(z)+1)], columns=['serial_number'], dtype=np.int32)

In [442]:
df1.head()

   serial_number
0              1
1              2
2              3
3              4
4              5

In [443]:
df1.dtypes

serial_number    int32
dtype: object

In [444]:
solu = pd.concat([df1, df], axis=1)

In [445]:
solu.head()

   serial_number outcome
0              1      no
1              2      no
2              3      no
3              4      no
4              5      no

In [446]:
solu.to_csv('./sample_submission.csv',index=False)