In [1]:
import pandas as pd
import numpy as np

In [54]:
data = pd.read_csv('./Yes_Bank_Training.csv')

In [35]:
data = pd.read_csv('./Yes_Bank_Test.csv')

In [4]:
test_data.head()

,serial_number,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign
0,1,33,admin.,married,secondary,no,796,yes,no,telephone,6,apr,216,1,-1,0,unknown
1,2,40,management,married,secondary,no,754,no,yes,cellular,6,apr,635,1,-1,0,unknown
2,3,30,technician,single,secondary,no,10152,yes,no,cellular,6,apr,1108,2,270,1,failure
3,4,44,blue-collar,married,secondary,no,545,yes,no,cellular,6,apr,122,3,136,1,failure
4,5,35,technician,married,secondary,no,5553,yes,no,cellular,6,apr,371,3,136,7,failure

In [36]:
data.head()

,serial_number,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign
0,1,33,admin.,married,secondary,no,796,yes,no,telephone,6,apr,216,1,-1,0,unknown
1,2,40,management,married,secondary,no,754,no,yes,cellular,6,apr,635,1,-1,0,unknown
2,3,30,technician,single,secondary,no,10152,yes,no,cellular,6,apr,1108,2,270,1,failure
3,4,44,blue-collar,married,secondary,no,545,yes,no,cellular,6,apr,122,3,136,1,failure
4,5,35,technician,married,secondary,no,5553,yes,no,cellular,6,apr,371,3,136,7,failure

In [37]:
from sklearn.preprocessing import LabelEncoder

In [55]:
le = LabelEncoder()
data['job_description'] = le.fit_transform(data['job_description'])
print(le.classes_)
data['marital_status'] = le.fit_transform(data['marital_status'])
print(le.classes_)
data['education_details'] = le.fit_transform(data['education_details'])
print(le.classes_)
data['has_default'] = le.fit_transform(data['has_default'])
print(le.classes_)
data['housing_status'] = le.fit_transform(data['housing_status'])
print(le.classes_)
data['previous_loan'] = le.fit_transform(data['previous_loan'])
print(le.classes_)
data['phone_type'] = le.fit_transform(data['phone_type'])
print(le.classes_)
data['month_of_year'] = le.fit_transform(data['month_of_year'])
print(le.classes_)
data['poutcome_of_campaign'] = le.fit_transform(data['poutcome_of_campaign'])
print(le.classes_)
data['outcome'] = le.fit_transform(data['outcome'])
print(le.classes_)

['admin.' 'blue-collar' 'entrepreneur' 'housemaid' 'management' 'retired'
 'self-employed' 'services' 'student' 'technician' 'unemployed' 'unknown']
['divorced' 'married' 'single']
['primary' 'secondary' 'tertiary' 'unknown']
['no' 'yes']
['no' 'yes']
['no' 'yes']
['cellular' 'telephone' 'unknown']
['apr' 'aug' 'dec' 'feb' 'jan' 'jul' 'jun' 'mar' 'may' 'nov' 'oct']
['failure' 'other' 'success' 'unknown']
['no' 'yes']

In [28]:
le.classes_

array(['no', 'yes'], dtype=object)

In [39]:
np.unique(data['poutcome_of_campaign'].values)

array([0, 1, 2, 3])

In [40]:
data.head()

,serial_number,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign
0,1,33,0,1,1,0,796,1,0,1,6,0,216,1,-1,0,3
1,2,40,4,1,1,0,754,0,1,0,6,0,635,1,-1,0,3
2,3,30,9,2,1,0,10152,1,0,0,6,0,1108,2,270,1,0
3,4,44,1,1,1,0,545,1,0,0,6,0,122,3,136,1,0
4,5,35,9,1,1,0,5553,1,0,0,6,0,371,3,136,7,0

In [41]:
data.columns

Index(['serial_number', 'age_in_years', 'job_description', 'marital_status',
       'education_details', 'has_default', 'balance_in_account',
       'housing_status', 'previous_loan', 'phone_type', 'date',
       'month_of_year', 'call_duration', 'campaign_contacts', 'days_passed',
       'previous_contact', 'poutcome_of_campaign'],
      dtype='object')

In [42]:
data.values.shape

(13562, 17)

In [ ]:
x_data, y_data = data.drop(axis=0, columns=['outcome', 'serial_number']), data['outcome']

In [46]:
x_data = data.drop(axis=0, columns=['serial_number'])

In [47]:
x_data.head()

,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign
0,33,0,1,1,0,796,1,0,1,6,0,216,1,-1,0,3
1,40,4,1,1,0,754,0,1,0,6,0,635,1,-1,0,3
2,30,9,2,1,0,10152,1,0,0,6,0,1108,2,270,1,0
3,44,1,1,1,0,545,1,0,0,6,0,122,3,136,1,0
4,35,9,1,1,0,5553,1,0,0,6,0,371,3,136,7,0

In [44]:
x_data.head()

,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3

In [14]:
y_data.head()

0    0
1    0
2    0
3    0
4    0
Name: outcome, dtype: int32

In [15]:
from sklearn.model_selection import StratifiedShuffleSplit

sss = StratifiedShuffleSplit(test_size=0.1)
for train_ix, test_ix in sss.split(X=x_data.values, y=y_data.values):
    x_train, y_train = x_data.values[train_ix], y_data.values[train_ix]
    x_val, y_val = x_data.values[test_ix], y_data.values[test_ix]

In [45]:
x_train.shape, x_val.shape

((28484, 16), (3165, 16))

In [17]:
sss1 = StratifiedShuffleSplit(test_size=0.2)
for train_ix, test_ix in sss1.split(X=x_train, y=y_train):
    xx_train, yy_train = x_train[train_ix], y_train[train_ix]
    x_test, y_test = x_train[test_ix], y_train[test_ix]

In [18]:
xx_train.shape, x_test.shape

((22787, 16), (5697, 16))

In [19]:
x_data.corr()

,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign
age_in_years,1.000000,-0.018437,-0.375747,-0.093187,-0.022041,0.083344,-0.173562,-0.008175,-0.011457,-0.025832,-0.063415,-0.038859,-0.000308,-0.003432,0.000350,-0.005767
job_description,-0.018437,1.000000,0.044833,0.162700,-0.007526,0.011894,-0.101029,-0.031356,-0.120075,0.020759,-0.140837,-0.003134,0.009576,0.002483,0.001889,-0.009343
marital_status,-0.375747,0.044833,1.000000,0.093332,0.000845,0.005298,-0.000955,-0.034624,-0.007343,-0.004132,-0.012787,0.016283,0.008664,-0.006059,0.000168,0.009624
education_details,-0.093187,0.162700,0.093332,1.000000,-0.009436,0.064702,-0.062839,-0.045531,-0.122694,0.028891,-0.078758,0.003105,0.019531,0.004705,0.011016,-0.012666
has_default,-0.022041,-0.007526,0.000845,-0.009436,1.000000,-0.073996,-0.016614,0.080985,-0.006582,0.006056,0.007405,-0.009294,0.009082,-0.017785,-0.005319,0.019606
balance_in_account,0.083344,0.011894,0.005298,0.064702,-0.073996,1.000000,-0.034619,-0.086969,-0.021167,0.003623,0.054150,0.014051,-0.010257,0.006203,0.001042,-0.018234
housing_status,-0.173562,-0.101029,-0.000955,-0.062839,-0.016614,-0.034619,1.000000,-0.000600,0.291503,0.006780,0.399710,0.019666,-0.040842,0.111929,0.035495,-0.094678
previous_loan,-0.008175,-0.031356,-0.034624,-0.045531,0.080985,-0.086969,-0.000600,1.000000,-0.056362,0.005425,0.028953,-0.004164,-0.006348,0.027974,0.013345,-0.032932
phone_type,-0.011457,-0.120075,-0.007343,-0.122694,-0.006582,-0.021167,0.291503,-0.056362,1.000000,-0.107672,0.537247,0.003333,-0.044224,-0.200474,-0.083410,0.208773
date,-0.025832,0.020759,-0.004132,0.028891,0.006056,0.003623,0.006780,0.005425,-0.107672,1.000000,0.114922,-0.034967,0.169599,-0.048123,-0.016339,0.028895
month_of_year,-0.063415,-0.140837,-0.012787,-0.078758,0.007405,0.054150,0.399710,0.028953,0.537247,0.114922,1.000000,0.031723,-0.167508,-0.015073,0.001681,-0.032708
call_duration,-0.038859,-0.003134,0.016283,0.003105,-0.009294,0.014051,0.019666,-0.004164,0.003333,-0.034967,0.031723,1.000000,-0.083680,-0.025258,-0.009836,0.028919
campaign_contacts,-0.000308,0.009576,0.008664,0.019531,0.009082,-0.010257,-0.040842,-0.006348,-0.044224,0.169599,-0.167508,-0.083680,1.000000,-0.070001,-0.020251,0.074585
days_passed,-0.003432,0.002483,-0.006059,0.004705,-0.017785,0.006203,0.111929,0.027974,-0.200474,-0.048123,-0.015073,-0.025258,-0.070001,1.000000,0.380333,-0.925555
previous_contact,0.000350,0.001889,0.000168,0.011016,-0.005319,0.001042,0.035495,0.013345,-0.083410,-0.016339,0.001681,-0.009836,-0.020251,0.380333,1.000000,-0.385226
poutcome_of_campaign,-0.005767,-0.009343,0.009624,-0.012666,0.019606,-0.018234,-0.094678,-0.032932,0.208773,0.028895,-0.032708,0.028919,0.074585,-0.925555,-0.385226,1.000000

In [20]:
from sklearn.svm import SVC

In [22]:
classifier = SVC(kernel="rbf", gamma=5, C=0.001)

In [23]:
classifier.fit(X=xx_train, y=yy_train)

SVC(C=0.001, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=5, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [59]:
y = classifier.predict(X=x_data.values)

In [60]:
y.shape

(13562,)

In [56]:
z = le.inverse_transform(y)

In [62]:
np.unique(z)

array(['no'], dtype=object)

In [63]:
df = pd.DataFrame(z, columns=['outcome'])

In [64]:
df.head()

  outcome
0      no
1      no
2      no
3      no
4      no

In [84]:
df.dtypes

outcome    object
dtype: object

In [92]:
df1 = pd.DataFrame([i for i in range(1,len(z)+1)], columns=['serial_number'], dtype=np.int32)

In [93]:
df1.head()

   serial_number
0              1
1              2
2              3
3              4
4              5

In [94]:
df1.dtypes

serial_number    int32
dtype: object

In [96]:
solu = pd.concat([df1, df], axis=1)

In [97]:
solu.to_csv('./sample_submission.csv',index=False)