In [1]:
import pandas as pd
import numpy as np

In [239]:
train_data = pd.read_csv('./Yes_Bank_Training.csv')
test_data = pd.read_csv('./Yes_Bank_Test.csv')

In [186]:
train_data.head()

,serial_number,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign,outcome
0,1,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,2,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,3,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,4,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,5,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [94]:
train_data = train_data.drop(axis=1, columns=['days_passed', 'campaign_contacts', 'month_of_year', 'date'])
test_data = test_data.drop(axis=1, columns=['days_passed', 'campaign_contacts', 'month_of_year', 'date'])

In [95]:
processed_data = train_data.drop(axis=0,index=train_data[train_data['job_description'] == 'unknown'].index)

In [96]:
processed_data = processed_data.drop(axis=0, index=processed_data[processed_data['marital_status'] == 'unknown'].index)

In [97]:
processed_data = processed_data.drop(axis=0, index=processed_data[processed_data['education_details'] == 'unknown'].index)

In [98]:
processed_data = processed_data.drop(axis=0, index=processed_data[processed_data['has_default'] == 'unknown'].index)

In [99]:
processed_data = processed_data.drop(axis=0, index=processed_data[processed_data['housing_status'] == 'unknown'].index)

In [100]:
processed_data = processed_data.drop(axis=0, index=processed_data[processed_data['previous_loan'] == 'unknown'].index)

In [101]:
processed_data = processed_data.drop(axis=0, index=processed_data[processed_data['phone_type'] == 'unknown'].index)

In [102]:
processed_data = processed_data.drop(axis=0, index=processed_data[processed_data['poutcome_of_campaign'] == 'unknown'].index)

In [103]:
np.unique(processed_data['outcome'], return_counts=True)

(array(['no', 'yes'], dtype=object), array([1884,   89], dtype=int64))

In [176]:
print(processed_data.shape)
processed_data.head()

(1973, 14)

,serial_number,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,call_duration,previous_contact,poutcome_of_campaign,outcome
24060,24061,3,0,1,2,0,3,0,0,1,3,3,0,0
24062,24063,3,0,2,1,0,3,1,1,1,4,3,1,1
24064,24065,3,7,1,1,0,3,1,0,1,3,3,0,1
24072,24073,3,4,1,2,0,3,1,0,1,3,3,1,0
24077,24078,3,4,1,2,0,3,1,0,1,3,3,0,1

In [240]:
def catergories(data ,column_name):
    mean = data[column_name].mean()
    std = data[column_name].std()
    def func(val):
        return (val-mean)/std
    return func

## --------------------------------------------

In [241]:
month = {"jan":1, "feb":1, "mar":1, "apr":1, "may":2, "jun":2, "jul":2, "aug":2, "sep":3, "oct":3, "nov":3, "dec":3}

def my_func(mnt):
    return month[mnt]

In [242]:
from sklearn.preprocessing import LabelEncoder

In [108]:
train_data = processed_data

In [243]:
le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()
le4 = LabelEncoder()
le5 = LabelEncoder()
le6 = LabelEncoder()
le7 = LabelEncoder()
le8 = LabelEncoder()
le9 = LabelEncoder()
train_data['job_description'] = le1.fit_transform(train_data['job_description'])
train_data['marital_status'] = le2.fit_transform(train_data['marital_status'])
train_data['education_details'] = le3.fit_transform(train_data['education_details'])
train_data['has_default'] = le4.fit_transform(train_data['has_default'])
train_data['housing_status'] = le5.fit_transform(train_data['housing_status'])
train_data['previous_loan'] = le6.fit_transform(train_data['previous_loan'])
train_data['phone_type'] = le7.fit_transform(train_data['phone_type'])
train_data['poutcome_of_campaign'] = le8.fit_transform(train_data['poutcome_of_campaign'])
train_data['outcome'] = le9.fit_transform(train_data['outcome'])
train_data['month_of_year'] = train_data['month_of_year'].apply(my_func)

age_in_years = catergories(train_data, 'age_in_years')
train_data['age_in_years'] =train_data['age_in_years'].apply(age_in_years)
balance_in_account = catergories(train_data, 'balance_in_account')
train_data['balance_in_account'] = train_data['balance_in_account'].apply(balance_in_account)
date = catergories(train_data, 'date')
train_data['date'] = train_data['date'].apply(date)
train_call_duration = catergories(train_data, 'call_duration')
train_data['call_duration'] = train_data['call_duration'].apply(call_duration)

campaign_contacts = catergories(train_data, 'campaign_contacts')
train_data['campaign_contacts'] = train_data['campaign_contacts'].apply(campaign_contacts)
days_passed = catergories(train_data, 'days_passed')
train_data['days_passed'] = train_data['days_passed'].apply(days_passed)
previous_contact = catergories(train_data, 'previous_contact')
train_data['previous_contact'] = train_data['previous_contact'].apply(previous_contact)

In [244]:
test_data['job_description'] = le1.transform(test_data['job_description'])
test_data['marital_status'] = le2.transform(test_data['marital_status'])
test_data['education_details'] = le3.transform(test_data['education_details'])
test_data['has_default'] = le4.transform(test_data['has_default'])
test_data['housing_status'] = le5.transform(test_data['housing_status'])
test_data['previous_loan'] = le6.transform(test_data['previous_loan'])
test_data['phone_type'] = le7.transform(test_data['phone_type'])
test_data['poutcome_of_campaign'] = le8.transform(test_data['poutcome_of_campaign'])
test_data['month_of_year'] = test_data['month_of_year'].apply(my_func)

test_data['age_in_years'] = test_data['age_in_years'].apply(age_in_years)
test_data['balance_in_account'] = test_data['balance_in_account'].apply(balance_in_account)
test_data['date'] = test_data['date'].apply(date)
test_data['call_duration'] = test_data['call_duration'].apply(call_duration)

test_data['campaign_contacts'] = test_data['campaign_contacts'].apply(campaign_contacts)
test_data['days_passed'] = test_data['days_passed'].apply(days_passed)
test_data['previous_contact'] = test_data['previous_contact'].apply(previous_contact)

In [245]:
x_data, y_data = train_data.drop(axis=0, columns=['outcome', 'serial_number', 'job_description']), train_data['outcome']

In [246]:
x_test = test_data.drop(axis=0, columns=['serial_number', 'job_description'])

In [247]:
x_data.head()

,age_in_years,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign
0,1.759616,1,2,0,0.286918,1,0,2,-1.350738,2,3,-0.587529,-0.245804,-0.107144,3
1,0.300926,2,1,0,-0.426985,1,0,2,-1.350738,2,3,-0.587529,-0.245804,-0.107144,3
2,-0.845188,1,1,0,-0.436103,1,1,2,-1.350738,2,3,-0.587529,-0.245804,-0.107144,3
3,0.613502,1,3,0,0.071801,1,0,2,-1.350738,2,3,-0.587529,-0.245804,-0.107144,3
4,-0.845188,2,3,0,-0.436441,0,0,2,-1.350738,2,3,-0.587529,-0.245804,-0.107144,3

In [223]:
x_data.shape, x_test.shape

((31649, 16), (13562, 16))

In [200]:
x_test.head()

,age_in_years,job_description,marital_status,education_details,has_default,balance_in_account,housing_status,previous_loan,phone_type,date,month_of_year,call_duration,campaign_contacts,days_passed,previous_contact,poutcome_of_campaign
0,3,0,1,1,0,3,1,0,1,2,1,3,3,3,3,3
1,3,4,1,1,0,3,0,1,0,2,1,4,3,3,3,3
2,2,9,2,1,0,5,1,0,0,2,1,5,3,5,3,0
3,3,1,1,1,0,3,1,0,0,2,1,3,3,5,3,0
4,3,9,1,1,0,4,1,0,0,2,1,3,3,5,5,0

In [250]:
from sklearn.model_selection import StratifiedShuffleSplit

sss = StratifiedShuffleSplit(test_size=0.1)
for train_ix, test_ix in sss.split(X=x_data.values, y=y_data.values):
    x_train, y_train = x_data.values[train_ix], y_data.values[train_ix]
    x_val, y_val = x_data.values[test_ix], y_data.values[test_ix]

In [251]:
x_val[y_val == 1].shape

(184, 15)

In [248]:
weight = np.unique(y_train, return_counts=True)[1][-1::-1]/np.sum(np.unique(y_train, return_counts=True)[1])

In [211]:
xweight

array([  80, 1695], dtype=int64)

In [249]:
weight

array([0.0581379, 0.9418621])

In [201]:
np.unique(y_train, return_counts=True)[1], np.unique(y_val, return_counts=True)

(array([1695,   80], dtype=int64),
 (array([0, 1]), array([189,   9], dtype=int64)))

In [228]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(class_weight={0:weight[0], 1:weight[1]})
tree.fit(X=x_train, y=y_train)
tree.score(X=x_val, y= y_val)

0.8925750394944708

In [152]:
DecisionTreeClassifier?

In [254]:
x_test.shape

(13562, 15)

# END

In [ ]:
from sklearn.ensemble import BaggingClassifier

bag_ = BaggingClassifier(n_estimators = 100, max_features = 8, bootstrap = True, bootstrap_features = True)
bag_.fit(X=x_train, y=y_train)
bag_.score(X=x_val, y=y_val)

In [229]:
np.unique(tree.predict(X=x_test.values), return_counts=True)

(array([0, 1]), array([11598,  1964], dtype=int64))

In [ ]:
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
%matplotlib inline

plt.matshow(confusion_matrix(y_true = y_val, y_pred = tree.predict(X=x_val)), cmap='gray')
plt.show()
confusion_matrix(y_true = y_val, y_pred = tree.predict(X=x_val))

In [255]:
y = classifier.predict(X=x_test.values)
z = le9.inverse_transform(y)
df = pd.DataFrame(z, columns=['outcome'])
df1 = pd.DataFrame([i for i in range(1,len(z)+1)], columns=['serial_number'], dtype=np.int32)
solu = pd.concat([df1, df], axis=1)
solu.to_csv('./sample_submission.csv',index=False)

In [ ]:
my_data = x_data[:]

In [ ]:
y = [i for i in range(x_data.shape[0])]
y_ = [i for i in range(x_test.shape[0])]
for column in x_data.columns:
    print(column)
    plt.scatter(x_data[column].values,y, c='r', alpha=0.1)
    plt.scatter(x_test[column].values,y_, c='b', alpha=0.1)
    plt.show()

In [149]:
from sklearn.svm import SVC

In [252]:
classifier = SVC(class_weight={0:weight[0], 1:weight[1]})
classifier.fit(X=x_train, y=y_train)
classifier.score(X=x_val, y=y_val)

c:\users\bobstone\appdata\local\programs\python\python36\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.8710900473933649

In [253]:
np.unique(classifier.predict(X=x_test.values), return_counts=True)

(array([0, 1]), array([10416,  3146], dtype=int64))

In [258]:
classifier.score(X=x_val[y_val==1], y= np.ones(x_val[y_val==1].shape[0]))

0.8315217391304348

In [261]:
x_val[y_val == 1].shape

(184, 15)

In [262]:
np.unique(classifier.predict(X=x_val[y_val==1]), return_counts=True)

(array([0, 1]), array([ 31, 153], dtype=int64))